{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <div class="container">
      {% include "render_messages.html" %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="col-md-6 col-md-offset-3">
        <form action="{% url 'login_user' %}" method="POST" class="form-signin"> {% csrf_token %}
            {{ form.as_p }}

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" >{% trans 'Submit' %}</button>
                </div>
            </div>
         </form>
      </div>
    </div> <!-- /container -->
{% endblock content %}
