<div class='card-panel' ng-init='fetchRecharges();'>

    <div class='container center'>
      <h2 class='flow-text'> Dashboard</h2>

    </div>

     <div class='row ' >
      <div class='container center' >

          <h5 class='accent-4 chip large white flow-text col m2 s4 btn'> search </h5>
          &nbsp
          <div class='valign-wrapper col m8 s4 white'>
              <input type='text' placeholder='search recharge ...' class='center valign' ng-keyup ='search(searchtext);' ng-model='searchtext'>
              <button class='blue darken-3 accent-2 btn valign' ng-show='showReturnButton' ng-click='reloadTable();refresh();'>close search</button>
          </div>

      </div>
    </div>

    <div class='card row blue accent-1 lighten-4' >
        <table class='striped small bordered' ng-show='fetchStatus;'>
        <h4 class='flow-text col m6 s6'> Recharges
        <a class='accent-4 btn white black-text ' href='#/newRecharage'> New</a>
        </h4>

          <th>Msisdn</th>
          <th>Amount</th>
          <th>Network</th>
          <th>Options</th>

          <tr ng-repeat='recharge in recharges'>
            <td> {{recharge.msisdn}}</td>
            <td> {{recharge.amount}}</td>
            <td> {{recharge.network_code}}</td>
            <td>
                <small class='col s12 m2 btn blue-text white lighten-2 accent-1 small' ng-click='resubmit(recharge);refresh();'><i class="material-icons">replay</i></small>
                <small class='col s12 m2 red-text white btn small' ng-click='delete(recharge)'><i class="material-icons">delete</i> </small>
            </td>
          </tr>

        </table>
        <div class=' row  white-text lighten-3 accent-2' ng-show='!fetchStatus;'>
          <p class=' chip large flow-text'>
            Connection to Server failed !
          </p>
        </div>
    </div>

</div>
